<div class="contenedor">
    <a style="--clr:#1e9bff" [routerLink]="['/campeones']"><span> Campeones</span><i></i></a>
    <a style="--clr:#A149FA" [routerLink]="['/items']"><span>Items</span><i></i></a>
    <a style="--clr:#6eff3e" [routerLink]="['/runaterra']"><span>Runaterra</span><i></i></a>
    <a style="--clr:#FFA500" [routerLink]="['/runaterra']"><span>Usuario</span><i></i></a>
    <a style="--clr:#ff1867" [routerLink]="['/login']" (click)="logout()"><span>LogOut</span><i></i></a>
</div>


