<div class="todo">
  <h1>Preguntas Frecuentes</h1>
  <div class="contenedor">
    <div>
      <h3>¿Esta Pagina es oficial de Riot Games?</h3>

      <p>
        Esta no es una pagina oficial de Riot Games, es simplemente una pagina
        informatica sobre el juego league of legends
      </p>
    </div>
    <div>
      <h3>¿Se puede jugar desde aqui?</h3>

      <p>!No¡,Ya que esta es solo una pagina infomativa</p>
    </div>
    <div>
      <h3>¿Puedo chatear con mis amigos del juego?</h3>

      <p>
        Por el momento no se puede por el echo de que esta pagina no oficial de
        RiotGames no se tiene una vinculacion directa con lo que es el juego
      </p>
    </div>
    <div>
      <h3>¿Con que fin es está página?</h3>

      <p>
        Con el mero fin de informar al público sobre el lore y el videojuego
        League of legends
      </p>
    </div>
    <div>
      <h3>¿Que es league of legends?</h3>

      <p>
        League of Legends (también conocido por sus siglas LoL) es un videojuego
        del género multijugador de arena de batalla en línea (MOBA) y deporte
        electrónico el cual fue desarrollado por Riot Games para Microsoft
        Windows y OS X y para consolas digitales. En un principio los servidores
        estaban alojados en la empresa GOA y fue vendida a la empresa china
        Tencent Holdings Limited
      </p>
    </div>
  </div>
</div>
