h1{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;

}

.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    top: 30px;
    color: aliceblue;
}
.contenedor{
    width: 60%;
    font-size: 20px;
}

/* .contenedor h1{
    margin-bottom: 50px;
} */