<div class="todo">
<h1>Home</h1>
<div class="contenedor">
  <P
    >Esta pagina web fue diseñada principalmente para compartir informacion
    basada en el juego de league of legends y la empresa de RiotGames, esto como
    punto principal tenemos lo que son campeones, items y regiones que son parte
    del mismo juego de league of legends</P>
</div>
<h1>¿Qué es RiotGames?</h1>
<div class="contenedor">
  <P>Riot Games, Inc. es una desarrolladora y editora de videojuegos y
    organizador de torneos de deportes electrónicos estadounidense con sede en
    West Los Angeles, California. La empresa se fundó en septiembre de 2006 para
    desarrollar League of Legends, un videojuego multijugador de arena de
    batalla en línea. Desde su lanzamiento en 2009, la empresa ha producido
    varios videojuegos derivados de la misma franquicia. Para el videojuego,
    Riot Games opera 14 ligas de deportes electrónicos a nivel internacional y
    el Campeonato del Mundo de League of Legends</P>
</div>
</div>